<!DOCTYPE html>
<html>
<head>
    <title>Verify Your Email</title>
</head>
<body>
    <h1>Hello, {{fname}}</h1>
    <p>Thank you for signing up. Please verify your email by clicking the link below:</p>
    <a href="{{verificationLink}}">Verify Email</a>
</body>
</html>